<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177291864975-sg0jnkuu44hjjvveaid1nrfo3lcq5v5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177291864975-sg0jnkuu44hjjvveaid1nrfo3lcq5v5i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177291864975-2u1lkk05a9rpvhlsm98010564crr8m4n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMcqAACRi_qcaY3OUmAOgcsWHglBVVmkE</string>
	<key>GCM_SENDER_ID</key>
	<string>177291864975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loveAfrica</string>
	<key>PROJECT_ID</key>
	<string>loveafrica-app-f167c</string>
	<key>STORAGE_BUCKET</key>
	<string>loveafrica-app-f167c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177291864975:ios:8f0f52a39ed37575bf39fa</string>
</dict>
</plist>